<?xml version="1.0"?>
<configuration>
  <configSections>    
    <section name="UserSettings" type="System.Configuration.NameValueSectionHandler"/>
  </configSections>  
  <UserSettings>
    <add key="MediaFolder" value=""/>
    <add key="ImageFolder" value=""/>
    <add key="Theme" value="Red"/>
  </UserSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
